@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    max-width: 1355px;
}
body{
    background-color: #0f172a;
    font-family: 'Lato', sans-serif;
}

html::-webkit-scrollbar{
  background-color: rgba(15, 23, 42 , .9);
  width: 10px;
}

html::-webkit-scrollbar-thumb{
  background-color: rgba(78, 86, 102, 0.7);
  border-radius: 20px;
  
}
.scroll-categories::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(15, 23, 42 , .9);
}
.scroll-categories::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgba(78, 86, 102, 0.7);
}

/*para cortar la descripcion de la pelicula a cuatro lineas*/

.container-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .container-description p{
    -webkit-line-clamp: 
  4; 
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 1px;
  }

  /*hacer que aparezcan los botones de el slider de proximas peliculas*/

  .container-slider-movie:hover  .button{
   opacity: 1;
   transition: all .5s;
   pointer-events: all;
  }

  .slider-movie:hover  .button{
    opacity: 1;
    transition: all .5s;
    pointer-events: all;
  }

/*clase para el los botones de la tendecias de la semana*/
.activo {
  background-color: #D9254C;
  transition: .5s all;
}

/*ANIMACION DE CARGA DE LAS MOVIES*/

.loader-animation{
  animation: Loader .7s infinite alternate;
}

@keyframes Loader {
  0%{
   background-color: #475569;
  }
  50%{
    background-color: #1E293B;
  }
  100%{
    background-color: #1E293B;
  }
}